a {
    color: #1772d0;
    text-decoration:none;
}
a:focus, a:hover {
    color: #f09228;
    text-decoration:none;
}
body,td,th {
    background-color: rgb(7, 26, 42);
      font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
      font-size: 17px;
      font-weight: 400;
      margin: 8;
      padding-bottom: 0;
}


#achievements{
    font-size: 20px;
    margin-top:  0;
    margin-bottom: 0;
    margin-left: 0;

}

#email{
    color: black;
}

#list {
	margin: 2em auto;
	padding: 0;
	max-width: 600px;
	list-style: none;
	height: 15em;
}

#fadeInDown {
	text-align: center;
	animation: fadeIn 2s ease-in both;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -30%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}